.idea
.env_docker_compose
.local.env
.aws-deploy.env
.DS_Store
tmp
.devops.json
postgres-data/
cmd/web-api/web-api
cmd/web-app/web-app
cmd/web-api/web-api/.env
cmd/web-app/web-app/.env
app/node_modules/
